<section class="calculator" id="contact">
  <div class="container">
    <div class="row">

      <!-- IMAGE -->
      <div class="col-lg-7">
        <div class="left-image">
          <img src="assets/images/calculator-image.png" alt="Contact illustration">
        </div>
      </div>

      <!-- FORM -->
      <div class="col-lg-5">
        <div class="section-heading">
          <h6>Your Freedom</h6>
          <h4>Get a Financial Plan</h4>
        </div>

        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

          <div class="row">

            <div class="col-lg-6">
              <fieldset>
                <label>Your Name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                >
              </fieldset>
            </div>

            <div class="col-lg-6">
              <fieldset>
                <label>Your Email</label>
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                >
              </fieldset>
            </div>

            <div class="col-lg-12">
              <fieldset>
                <label>Subject</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="subject"
                >
              </fieldset>
            </div>

            <div class="col-lg-12">
              <fieldset>
                <label>Your Reason</label>
                <select
                  class="form-select"
                  formControlName="reason"
                >
                  <option value="">Choose an Option</option>
                  <option value="Online Banking">Online Banking</option>
                  <option value="Financial Control">Financial Control</option>
                  <option value="Yearly Profit">Yearly Profit</option>
                  <option value="Crypto Investment">Crypto Investment</option>
                </select>
              </fieldset>
            </div>

            <div class="col-lg-12">
              <fieldset>
                <button
                  type="submit"
                  class="orange-button"
                  [disabled]="contactForm.invalid"
                >
                  Submit Now
                </button>
              </fieldset>
            </div>

          </div>
        </form>
      </div>

    </div>
  </div>
</section>
