<header
  class="header-area header-sticky"
  [class.background-header]="isSticky"
  [class.light-navbar]="isLightPage"
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">

          <!-- Logo -->
          <a routerLink="/" class="logo">
            <img src="assets/images/logok.png" alt="MagentaTech">
          </a>

          <!-- Menu -->
          <ul class="nav" [class.active]="menuOpen">

            <li class="scroll-to-section">
              <a routerLink="/" routerLinkActive="active" (click)="closeMenu()">Accueil</a>
            </li>

            <li class="scroll-to-section">
              <a routerLink="/solutions" routerLinkActive="active" (click)="closeMenu()">Solutions</a>
            </li>

            <li class="scroll-to-section">
              <a routerLink="/about" routerLinkActive="active" (click)="closeMenu()">About</a>
            </li>

            <!-- Dropdown Services -->
            <li class="submenu" [class.open]="servicesOpen">
              <a href="#" (click)="onServicesClick($event)">
                Services <span class="arrow">▾</span>
              </a>

              <ul class="sub-menu">
                <li><a routerLink="/services/web" (click)="closeMenu()">Développement Web</a></li>
                <li><a routerLinkActive="active-sub" routerLink="/services/coaching" (click)="closeMenu()">Coaching</a></li>
               
              </ul>
            </li>

            <li class="scroll-to-section">
              <a routerLink="/contact" (click)="closeMenu()">Contact</a>
            </li>

            <li>
              <a routerLink="/contact" class="contact-btn" (click)="closeMenu()">
                Contact Support
              </a>
            </li>

          </ul>

          <!-- Mobile Menu Button -->
          <a class="menu-trigger" [class.active]="menuOpen" (click)="toggleMenu()">
            <span>Menu</span>
          </a>

        </nav>
      </div>
    </div>
  </div>
</header>
