<!-- ***** Header Area Start ***** -->
<header
  class="header-area header-sticky"
  [class.background-header]="isSticky">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">

          <!-- Logo -->
          <a routerLink="/" class="logo">
            <img src="assets/images/logok.png" alt="MagentaTech">
          </a>

          <!-- Menu -->
          <ul class="nav" [class.active]="menuOpen">

            <li class="scroll-to-section">
              <a routerLink="/" routerLinkActive="active" (click)="closeMenu()">Acceuil</a>
            </li>

            <li class="scroll-to-section">
              <a routerLink="/services" routerLinkActive="active" (click)="closeMenu()">solutions</a>
            </li>

            <li class="scroll-to-section">
              <a routerLink="/about" routerLinkActive="active" (click)="closeMenu()">About</a>
            </li>

            <!-- Pages Dropdown -->
            <li class="has-sub" [class.open]="pagesOpen">
              <a href="javascript:void(0)" (click)="togglePages()">Services</a>

              <ul class="sub-menu">
                <li><a routerLink="/about-us" (click)="closeMenu()"> Développement Web </a></li>
                <li><a routerLink="/our-services" (click)="closeMenu()"> Solutions IT & Réseaux </a></li>
                <li><a routerLink="/contact" (click)="closeMenu()"> Cloud & Déploiement </a></li>
                <li><a routerLink="/contact" (click)="closeMenu()"> Support & Maintenance </a></li>
              </ul>
            </li>

             <li class="scroll-to-section">  
              <a routerLink="/contact" (click)="closeMenu()">Contact</a>
            </li>

            <li>
              <a routerLink="/contact" class="contact-btn" (click)="closeMenu()">
                Contact Support
              </a>
            </li>

          </ul>

          <!-- Mobile Menu Button -->
          <a
            class="menu-trigger"
            [class.active]="menuOpen"
            (click)="toggleMenu()">
            <span>Menu</span>
          </a>

        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
