<main>
  <div class="slider-wrapper">
    <ul class="slider" #slider>
      <li
        class="item"
        *ngFor="let t of testimonials; let i = index"
        [class.animation]="activeIndex === i"
      >
        <div class="testimonial">
          <p>{{ t.quote }}</p>
          <p>{{ t.name }}</p>
          <p>{{ t.role }}</p>
        </div>

        <img class="image" [src]="t.image" />
      </li>
    </ul>
  </div>

  <nav>
    <button
      class="btn"
      *ngFor="let _ of testimonials; let i = index"
      [class.expand]="activeIndex === i"
      (click)="scrollTo(i)"
    ></button>
  </nav>
</main>
