<div class="swiper" id="top">
  <div class="swiper-wrapper">

    <!-- SLIDE 1 -->
    <div class="swiper-slide">
      <div class="slide-inner" style="background-image:url('/assets/images/slide-01.jpg')">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="header-text">
               <h2>
                  Des solutions <em>numériques fiables</em><br>
                  pour faire grandir votre <em>vos business</em>
                </h2>
                <div class="div-dec"></div>
                <p>
                  MagentaTech accompagne les entreprises et entrepreneurs
                 avec des solutions web et IT adaptées à leurs besoins.
                </p>
                <div class="buttons">
                  <div class="green-button">
                    <a href="#">Discover More</a>
                  </div>
                  <div class="orange-button">
                    <a href="#">Contactez-Nous</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SLIDE 2 -->
    <div class="swiper-slide">
      <div class="slide-inner" style="background-image:url('/assets/images/slide-02.jpg')">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="header-text">
                <h2>
                  Des solutions <em>numériques fiables</em><br>
                  pour un <em>liggéey bu baax</em>
                </h2>
                <br>
                <br>
                <div class="div-dec"></div>
                <p>
                  Des solutions simples et efficaces pour vous aider à digitaliser
                  et développer votre activité en toute sérénité.
                </p>
                <div class="buttons">
                  <div class="green-button">
                    <a href="#">Discover More</a>
                  </div>
                  <div class="orange-button">
                    <a href="#">Contact Us</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SLIDE 3 -->
    <div class="swiper-slide">
      <div class="slide-inner" style="background-image:url('/assets/images/slide-03.jpg')">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="header-text">
               <h2>
                Expertise <em>IT</em> & solutions<br>
                <em>numériques</em> professionnelles
              </h2>
              <br>
              <br>
              <br>
                <div class="div-dec"></div>
                <p>
                  Nous mettons en place des solutions numériques modernes,
                  sécurisées et évolutives, adaptées à vos besoins.
                </p>

                <div class="buttons">
                  <div class="green-button">
                    <a href="#">Discover More</a>
                  </div>
                  <div class="orange-button">
                    <a href="#">Contact Us</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
