.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide,
.slide-inner {
  width: 100%;
  height: 100%;
}

.slide-inner {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.header-text {
  color: #fff;
}

.header-text h2 {
  font-size: 48px;
  line-height: 1.3;
}

.header-text p {
  margin-top: 20px;
  max-width: 600px;
}
