#top .container {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 768px) {
  #top .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.swiper {
  width: 100%;
  height: 70vh;      /* au lieu de 100vh */
  min-height: 520px; /* pour éviter que ça devienne trop petit */
}


.swiper-slide
.slide-inner {
  width: 100%;
  height: 100%;
}

.slide-inner {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.header-text {
  padding-top: 100px;
  color: #fff;
}

.header-text h3 {
  font-size: 48px;
  line-height: 1.3;
  color: #fff;
}

.header-text p {
  margin-top: 20px;
  max-width: 600px;
}
.header-text em {
  color: #FF00FF; 
  font-style: normal; /* enlève l’italique si tu veux */
  font-weight: 600; /* optionnel */
}
.header-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(6px);
}
.cta a {
  display: inline-block;
  background: #FF00FF;
  color: #fff;
  padding: 12px 25px;
  border-radius: 999px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s;
  box-shadow: 0 12px 25px rgba(255, 0, 255, 0.25);
}

.cta a:hover {
  transform: translateY(-3px);
  box-shadow: 0 16px 30px rgba(255, 0, 255, 0.35);
}
