.partners .row {
  display: flex;
  flex-wrap: nowrap;     /* 👈 empêche le retour à la ligne */
  align-items: center;
}
.partners .col-lg-2 {
  flex: 0 0 auto;        /* largeur auto */
}
.partners .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners .item img {
  max-width: 100%;
  max-height: 60px;
}
